.bt_events{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--color-white);
}

.bt_events_section{
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
}
.bt_events-theme-text{
    background: url('../../../../assets/DSC_0332.JPG');
    background-clip: text;
    background-size: cover;
    background-position: center;
    color: transparent;
    font-weight: 800;
    background-color: #dfd0d7;
    background-blend-mode:lighten;
    
}
.bt_events_section-header-balls{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 120px var(--color-circle), 0 100px 200px #9d3364;
    transform: translateX(-100%);
    z-index: 0;
    left: 0;
    position: absolute;
}

.bt_events_section-header-balls2{
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 0 0 200px #9d3364;
    transform: translateX(100%);
    z-index: 0;
    right: 0;
    bottom: 0;
}

.bt_events_section-header, .bt_events_section-eventslist {
    width: 800px;
    margin: auto;
    text-align: center;
    font-family: var(--font-family);
}

a{
    text-decoration: none;
    font-family: var(--font-family);
    color: var(--color-highlight);
    font-size: 20px;
    transition: 0.1s;
}
a:hover{
    transition: 0.5s;
    color: var(--color-white);
}

.bt_events_section-header h2{
    font-family: var(--font-family);
    font-size: 40px;
    text-shadow: 2px -15px #1a1a1a;
    text-align: center;

}

.bt_events-theme{
    width: 100%;
    font-family: var(--font-family);
    text-align: center;
}

.bt_events-theme-text{
    width: 100%;
    font-size: 98px;
    margin-bottom: 0;
}

@media screen and (max-width: 745px) {
    .bt_events-theme-text {
        font-size: 50px;
    }

    .bt_events_section-header h2{
        font-size: 30px;
    }

    .bt_events_section-header, .bt_events_section-eventslist{
        width: 400px;
        text-align: center;
    }

    .bt_events_section-eventslist{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        margin-bottom: 2rem;
        padding: 0;
    }
}


@media screen and (max-width: 395px) {
    .bt_events_section-header h2{
        font-size: 25px;
    }


    .bt_events-theme-text {
        font-size: 40px;
    }

    .bt_events_section-header, .bt_events_section-eventslist{
        width: 100%;
    }
}