.bt_header{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    color: var(--color-white);
}
.bt_header-text{
    z-index: 1;
    padding: 2rem 10rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}
.bt_header-video{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    position: absolute;
    z-index: 0;
    background: transparent;
    right: 0;
    top:0;
}

.bt_header-video img{
    margin: 0;
    padding: 0;
    width: 60vw;
    height: 100vh;
    /* mix-blend-mode:color-dodge; */
}

.bt_header-maintext {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: var(--font-family);
    width: 550px;
    z-index: -1;
}

.bt_header-maintext h2 {
    font-size: 65px;
    margin: 0;
    z-index: -1;
}

.bt_header-maintext .highlighter{
    font-size: 84px;
}

@media screen and (max-width:871px) {
    .bt_header-text{
        padding: 40px;
        padding-right: 10px;
        z-index: -1;
    }

    .bt_header-maintext h2{
        font-size: 40px;
    }

    .bt_header-maintext{
        width: 100%;
    }

    .bt_header-maintext .highlighter{
        font-size: 40px;
    }

    .bt_header{
        flex-direction: column;
        align-items: center;
    }

    .bt_header-video{
        position: relative;
        width: 100%;
    }
    .bt_header-video img{
        height: 400px;
        width: 100%;
    }
}

@media screen and (max-width:400px) {
    .bt_header-text{
        padding: 10px;
        padding-right: 10px;
        z-index: -1;
    }

    .bt_header-maintext .highlighter{
        font-size: 40px;
    }

    .bt_header-maintext h2 {
        font-size: 30px;
        z-index: 1;
    }
}