@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap');
:root{
  --font-family: 'Syne', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-highlight: #ff4b3e;
  --color-button: #0f0d14;
  --color-circle: #ff4036;
  --color-white: #fefffe;
  --color-background: #0f0d14;
  --color-tiles: #0f0d14f1;
  --color-cover: #1a1624;
  --color-gallery: #14171b;
  --color-white-form: #e6ece6;
}

.highlighter{
  color: var(--color-highlight);
}

.horizontal-line{
  height: 2px;
  width: 100%;
  background: #212121;
  z-index: 1;
}

.button{
  font-family: sans-serif;
  background: var(--color-gallery);
  padding: 5px 20px;
  width: 120px;
  height: 40px;
  text-align: center;
  color: var(--color-white);
  font-size: 14px;;
  border-radius: 5px;
  font-family: var(--font-family);
  border: 1px solid var(--color-cover);
  width: 100%;
}

.button:hover{
  color: var(--color-highlight);
  background: var(--color-white);
  cursor: pointer;
}

.balls{
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--color-circle);
  box-shadow: 0 0 200px var(--color-circle);
  transform: translateX(-100%);
  left: 0;
  z-index: 0;
  bottom: 10rem;
}




::marker{
  display: none;
}